* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}
body {
  background: hsl(0, 100%, 74%) url("./images/bg-intro-desktop.png");
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 114px;
  border: 1px solid black;
  height: 560px;
  width: 1110px;
  display: flex;
}

.text-comp,
.form-comp {
  height: 100%;
  width: 50%;
  border: 1px solid blue;
}

.text-comp {
  display: flex;
  align-items: center;
}

.text-comp h1 {
  font-size: 3rem;
  line-height: 50px;
  margin-bottom: 30px;
}

.text-comp p {
  font-weight: 300;
}

