* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: hsl(0, 100%, 74%) url("./images/bg-intro-desktop.png");
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 114px;

  height: 560px;
  width: 1110px;
  display: flex;
}

.text-comp,
.form-comp {
  height: 100%;
  width: 50%;
}

.text-comp {
  display: flex;
  align-items: center;
  color: white;
}

.text-comp h1 {
  font-size: 3rem;
  line-height: 50px;
  margin-bottom: 30px;
}

.text-comp p {
  font-weight: 200;
}

.form-comp .modal {
  width: 100%;
  background: hsl(248, 32%, 49%);
  border-radius: 10px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 25px;
}
span {
  font-weight: 200;
}
form{
    height: 475px;
    width: 100%;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

input{
    height: 55px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 8px;
    
}

input::placeholder{
}
button{
    height: 55px;
    background: hsl(154, 59%, 51%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
}